{{ define "main" }}
<div class="h-entry">
    {{ if .Title }}
        <h1 class="p-name">
            <a href="{{ .Permalink }}" class="u-url">
                {{ .Title }}
            </a>
        </h1> 
    {{ else }}
        <h1>
            <a href="{{ .Permalink }}" class="u-url">
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                    {{ .Date.Format "02 Jan 2006" }}
                </time>
            </a> 
        </h1>
    {{ end }}
    {{ .Content }}
    {{ if .Params.categories }}
    <hr>
    <h3>Categories</h3>
    <ul>
        {{ range .Params.categories }} 
        {{ $href := print (absURL "categories/") (urlize (replace . "tags-" "")) }}
        <li><a class="p-category" href="{{ $href }}">{{ . | safeHTML }}</a></li> 
        {{ end }}
    </ul>
    {{ end }}
    {{ $permalinkurl := urls.Parse .Permalink }}
    {{ $relpermalink := .RelPermalink }}
    {{ $backlinks := slice }}
    {{- range .Site.Pages -}}
        {{- if strings.Contains .Content $relpermalink -}}
            {{ $backlinks = $backlinks | append . }}
        {{- end -}}
    {{- end -}}
    {{ with $backlinks }}
    <hr>
    <h3>Backlinks</h3>
    <ul>
    {{ range $backlinks }}
        {{ if .Title }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- else}}
            <li><a href="{{ .Permalink }}">{{ .Summary | truncate 150 }}</a></li>
        {{- end}}
    {{end}}
    </ul>
    {{ end }}
    <hr>
    <h3>Conversation</h3>
    <script src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
</div>
{{ end }}