main {
    display:flex;
}
.wide {
    max-width: 90ch;
}
.sidebar {
    max-width: 30%;
    width: 30%;
    margin-right: 1em;
}
.d-none { display: none !important; }
.d-sm-none {
    display: none !important;
}
@media (min-width: 576px) {
    .d-sm-block {
        display: block !important;
    }
    .d-sm-none {
        display: none !important;
    } 
}
@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
    .d-md-inline-block {
        display: inline-block !important;
    }
    .d-md-none {
        display: none !important;
    }
}
@media (min-width: 992px) { 
    .d-lg-block {
        display: block !important;
    }
    .d-lg-none {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .d-xl-block {
        display: block !important;
    }
    .d-xl-none {
        display: none !important;
    }
}