header h1 a {text-decoration: none;}
section,body>header{margin:0px auto;width:100%;max-width:70ch;}
section{padding:1em;}
main{margin-bottom:4em;}
quiet-avatar{margin-right:1em;}
quiet-random-content,quiet-typewriter,quiet-search-list,.mt,.microblog_reply_form{margin-top:2em;}
#more,.microblog_post {margin-top: 1em;display: block;}
.e-content img, .e-content video{height:unset;}
.microblog_user{
    display: flex;
    gap: 0.5em;
}
nav {
    margin-top:2em;
    display: flex;
    flex-direction: column;
}
nav > a {
    color:white;
    border-bottom: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
    padding: 0.5rem;
    text-decoration: none;
}
.microblog_post, .item {
    border: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
    border-radius: var(--quiet-border-radius-md);
    background-color: var(--quiet-paper-color);
    box-shadow: var(--quiet-shadow-softer);
    padding: 1rem;
  h4 {
    margin: 0;
    font-size: 1.125rem;
  }
  p {
    color: var(--quiet-text-muted);
    margin: 0.5rem 0;
    font-size: 0.875rem;
    margin-block-end: 0;
  }
  cite {
      display: block;
      margin-top: 0.5rem;
      color: #666;
      font-size: 0.875rem;
      text-align: right;
  }
}
quiet-card:not([slot="back"]) {
  &::part(body) {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 0.5rem;
  }

  quiet-avatar {
    --size: 5rem;
  }

  .name {
    margin-block: 0;
  }

  .tagline {
    margin-block-end: 1rem;
  }
}
.long-post{margin-top: 1em;}
/* quiet-card > img[slot="media"] {
  aspect-ratio: 1 / 1;
} */
section{min-height: 85vh;}
.p-category{color:var(--quiet-primary-text-on-soft);font-size: 0.875rem;}