<hr/>
{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
{{ if gt (len $list) 0 }}

{{ range $list }}
    {{ if strings.Contains (lower .Title) "meta-" }}
    {{ else if eq (lower .Title) "app defaults" }}
    {{ else if eq (lower .Title) "change log" }}
    {{ else if strings.Contains (lower .Title) "tags-" }}
    {{ else }}
        <p><b>{{ strings.FirstUpper .Title }}</b><a href="{{ .Permalink }}">&#128279;</a></p>
        <ul role="list">
        {{ $category := .Title }}
        {{ if eq $category "Side Projects" }}
            <li class="h-entry">
                <a class="p-url p-name" href="https://heyloura.com/categories/lillihub/">Lillihub 🐸</a>
            </li>
        {{ else if eq $category "Micro.blog" }}

        {{ end }}
        {{ range (where .Site.Pages.ByDate.Reverse "Type" "post") }}
            {{ if and (in .Params.categories $category) }}
            {{ if .Title }}
            <li class="h-entry">
                <a class="p-url p-name" href="{{ if .Page.Params.redirect_url }}{{ .Page.Params.redirect_url }}{{ else }}{{ .Permalink }}{{ end }}">
                    {{ .Title }}
                </a>
            </li>
            {{- end}}
            {{- end}}
        {{end}}
        </ul>
        {{- end }} <!-- END the if for category title check-->
    {{ end }}

{{ end }}