<ul role="navigation">
    <li>
        <a href="/archive">
            Archive
        </a>
    </li>
    <li>
        <a href="/categories/change-log/">
            Change log
        </a>
    </li>
    <li>
        <a href="/feeds">
            RSS
        </a>
    </li>
    <li>
        <a href="/surprise-me">
            Surprise Me
        </a>
    </li>
</ul>
<aside>
    <header><h5>Indieweb</h5></header>
    <div>
        <small><a target="_blank" href="https://xn--sr8hvo.ws">🕸️💍</a>
        <a target="_blank" href="https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/previous">⬅️</a>
        <a target="_blank" href="https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/next">➡️</a></small><br>
        <a target="_blank" href="https://indieweb.org/">
        <img src="https://heyloura.com/uploads/2022/4af033892a.png" height="25" alt="IndieWebCamp" style="image-rendering:pixelated;">
        </a>
        <img src="https://heyloura.com/uploads/2022/04d164b1ac.png" height="25" alt="Webmention" style="image-rendering:pixelated;">
        <img src="https://heyloura.com/uploads/2022/927e2836c9.png" height="25" alt="Microformats" style="image-rendering:pixelated;">
    </div>
    <header><h5>Spaces</h5></header>
    <p style="text-align: left;">
        <a target="_blank" href="https://micro.blog/heyloura">✴️ Micro.blog account</a>
        <a target="_blank" href="gemini://capsule.heyloura.com">🚀 Hosted on Gemini</a><br>
        <a style="font-size: 0.9em;" href="https://micro.blog/heyloura?remote_follow=1">💫 @heyloura@heyloura.com</a><br>       
        <a target="_blank" href="https://github.com/heyloura">🐈‍⬛ Github Projects</a>
    </p>
    
    <header><h5>Analytics</h5></header>
    <p><small><span class="tinylytics_hits">17,175</span> website hits tracked by <a href="https://tinylytics.app/public/k8W9_T_FtwGM-5zeSNC7">tinylytics.app</a></small>
    <a href="https://scribbles.rscottjones.com" target="_blank" class="tinylytics_webring">
        <img class="tinylytics_webring_avatar" src="" style="display: none">🕸️💍
    </a></p>
    <header><h5>Credits</h5></header>
    <p><a target="_blank" href="https://github.com/RonenNess/RPGUI">RPG UI</a>
        <br><a href="https://www.avatarsinpixels.com/">Avatars in Pixels</a>
        <br><a href="https://heropatterns.com/">Hero Patterns</a></p>
</aside>