<div class="h-card">
    <a href="/">
        <img loading="lazy" 
            src="{{ .Site.Author.avatar }}" 
            alt="{{ .Site.Title }} Profile Photo" 
            class="u-photo" 
            width="80" 
            height="80">
    </a>
    <h1><a class="p-name u-url" href="/">{{ .Site.Title }}</a></h1>
    <p>{{ .Site.Params.itunes_description | safeHTML }}</p>
</div>
<hr/>
<ul>
    {{ range .Site.Menus.main }}
    {{ if .Page.Params.redirect_url }}
    <li>
        <a href="{{ .Page.Params.redirect_url }}">
            {{ .Name }}
        </a>
    </li>
    {{ else }}
    <li>
        <a href="{{ .URL | relLangURL | safeURL }}">
            {{ .Name }}
        </a>
    </li>
    {{ end }}
    {{ end }}
</ul>