<quiet-button appearance="text" data-dialog="open navigation-menu"><quiet-icon name="menu-2"></quiet-icon> Menu</quiet-button>
<quiet-dialog id="navigation-menu" placement="start">
    <h3 slot="header" style="font-size: 1.25rem; margin-block: 0;">
        Navigation
    </h3>

    <nav>
        {{ range .Site.Menus.main }}
        {{ if .Page.Params.redirect_url }}
            <a href="{{ .Page.Params.redirect_url }}">
                {{ .Name }}
            </a>
        {{ else }}
            <a href="{{ .URL | relLangURL | safeURL }}">
                {{ .Name }}
            </a>
        {{ end }}
        {{ end }}
    </nav>

    <quiet-card>
        <quiet-avatar image="{{ .Site.Author.avatar }}"></quiet-avatar>
        <h3 class="name"><a class="p-name u-url" href="/">{{ .Site.Title }}</a></h3>
        {{ partial "footer.html" . }}
    </quiet-card>

    <quiet-button slot="footer" data-dialog="close" variant="primary">
        Close
    </quiet-button>
</quiet-dialog>
