<div class="h-card">
    <h1>
        <img loading="lazy" 
        src="{{ .Site.Author.avatar }}" 
        alt="{{ .Site.Title }} Profile Photo" 
        class="u-photo" 
        width="40" 
        height="40">
        <a class="p-name u-url" href="/">{{ .Site.Title }}</a> a level {{ len ((where .Site.Pages "Type" "post").GroupByDate "2006" )}} webmaster
    </h1>
</div>
<ul role="navigation">
    {{ range .Site.Menus.main }}
    {{ if .Page.Params.redirect_url }}
    <li>
        <a href="{{ .Page.Params.redirect_url }}">
            {{ .Name }}
        </a>
    </li>
    {{ else }}
    <li>
        <a href="{{ .URL | relLangURL | safeURL }}">
            {{ .Name }}
        </a>
    </li>
    {{ end }}
    {{ end }}
</ul>