{{ define "main" }}
<div class="h-feed" role="main">      
    {{ $pages := (where .Site.Pages.ByLastmod.Reverse "Type" "post") }}
    {{- $paginator := .Paginate $pages (index .Site.Params "archive-paginate" | default 20) }}
    {{- range $paginator.Pages  }}
    <dl class="h-entry">
        {{ if .Title }}
            <dt class="p-name">
                <a href="{{ .Permalink }}" class="u-url">
                    {{ .Title }}
                </a>   
            </dt> 
            <dd>
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                    {{ .Date.Format "02 Jan 2006" }}
                </time>
            </dd>
        {{ else }}
            <dt>
                <a href="{{ .Permalink }}" class="u-url">
                    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                        {{ .Date.Format "02 Jan 2006" }}
                    </time>
                </a>   
            </dt>
        {{ end }}
        <dd class="e-content">
            {{ .Content }}
        </dd>
        {{ if .Title }}
            <dd>
                <a href="{{ .Permalink }}">Read More →</a>
            </dd>
        {{ end }}
        {{- if compare.Gt .Lastmod .Date -}}
        <dd>
            Updated: <time class="dt-modified" datetime="{{  .Lastmod.Format "2006-01-02T15:04:05-0700" }}">
                {{  .Lastmod.Format "02 Jan 2006" }}
            </time>
        </dd>
        {{- end -}}
    </dl>
    {{ end }}
    {{- if or ($paginator.HasNext) ($paginator.HasPrev) }}
    <ul>
        <li>{{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}">← {{ T "Older" }}</a>{{ end }}</li>
        <li>{{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}">{{ T "Newer" }} →</a>{{ end }}</li>
    </ul>
    {{- end }}
</div>
{{ end }}