{{ define "main" }}
<div class="h-feed" role="main">      
    {{ $pages := (where .Site.Pages.ByLastmod.Reverse "Type" "post") }}
    {{- $paginator := .Paginate $pages (index .Site.Params "archive-paginate" | default 20) }}
    {{- range $paginator.Pages  }}
    <dl class="h-entry">
        {{ if .Title }}
            <dt class="p-name">
                <a href="{{ .Permalink }}" class="u-url">
                    {{ .Title }}
                </a>   
            </dt> 
            <dd>
                Published: <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                    {{ .Date.Format "02 Jan 2006" }}
                </time>
            </dd> 
            {{ if gt (len .Content) 600 }}
            <dd class="p-summary">
                {{ .Content | safeHTML | strings.Truncate 600 }}
            </dd> 
            <dd>
                <a href="{{ .Permalink }}">Read More →</a>
            </dd>
            {{ else }}
            <dd class="e-content">
                {{ .Content }}
            </dd>            
            {{ end }}
        {{ else }}
            <dt>
                <a href="{{ .Permalink }}" class="u-url">
                    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                        {{ .Date.Format "02 Jan 2006" }}
                    </time>
                </a>   
            </dt>
            <dd class="e-content">
            {{ .Content }}
            </dd>
        {{ end }}
        {{- if compare.Gt .Lastmod .Date -}}
        <dd>
            Updated: <time class="dt-modified" datetime="{{  .Lastmod.Format "2006-01-02T15:04:05-0700" }}">
                {{  .Lastmod.Format "02 Jan 2006" }}
            </time>
        </dd>
        {{- end -}}
    </dl>
    {{ end }}
    {{- if or ($paginator.HasNext) ($paginator.HasPrev) }}
    <ul>
        {{ if $paginator.HasNext }}<li><a href="{{ $paginator.Next.URL }}">← View older</a></li>{{ end }}
        {{ if $paginator.HasPrev }}<li><a href="{{ $paginator.Prev.URL }}">View newer →</a></li>{{ end }}
    </ul>
    {{- end }}
</div>
{{ end }}